@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

.font-openrunde {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  letter-spacing: 0.01em;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}
